<div>
	<table>
		<tbody>
			<tr>
				<td>Preguntas</td>
				<td><%= statistics.quizes %></td>
			</tr>
			<tr>
				<td>Comentarios</td>
				<td><%= statistics.comments %></td>
			</tr>
			<tr>
				<td>Comentarios por pregunta</td>
				<td><%= statistics.avg_comments %></td>
			</tr>
			<tr>
				<td>Preguntas con comentarios</td>
				<td><%= statistics.with_comments %></td>
			</tr>
			<tr>
				<td>Preguntas sin comentarios</td>
				<td><%= statistics.without_comments %></td>
			</tr>
		</tbody>
	</table>
</div>